<h1>Danh sách sản phẩm</h1>|<a routerLink="/product/create">Tạo mới sản phẩm</a>
<table border="1px">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td colspan="2">Action</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Chỉnh sửa</a></td>
    <td><a [routerLink]="['/product/list']" (click)="deleteProduct(product.id)">Xóa</a></td>
  </tr>
</table>
<router-outlet></router-outlet>

